body {
  background-color:black;
  font-family: arial;
  color: white;
}

h1 {
  color:grey;
  font-family: verdana;
}

footer {
  position: fixed;
  left: 25%;
  top: 350px;
}

.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  left: 25%;
}
